/* la partie sous la NavBar */
section {
    padding-top: 40px;
    width: var(--largeurpage);
}
/* l'image avec le texte */
section .container-img-blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* le conteneur des figcaption */
section .container-img-blog .bottom-header-txt-wrap {
    position: absolute;
    text-align: center;
}

/* les trois figcaption */
section .container-img-blog .bottom-header-txt-wrap figcaption {
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

/* le deuxième */
section .container-img-blog .bottom-header-title {
    font-size: 55px !important;
    margin-top: 15px;
}

/* le dernier figcaption */
section .container-img-blog .bottom-header-below-title {
    margin-top: 15px;
}




/*-----------------------------------------------------------*/

/* un wrapper qui entourent les cartes */
.container-description{
    display: inline-block;
    width: 100%;
    float: left;
}

/* les cards sous l'image */
.header-widgets-three{
    display: inline-block;
    float: left;
    margin-bottom: 40px;
    width: 100%;
    max-width: 33.33%;
}
/* la carte de gauche */
.header-widgets-left{
    padding-right: 10px;
}

.header-widget{
    border: 1px solid black;
    padding: 20px 20px;
    text-align: left;
    clear: both;
}
/* pour éviter un rétrécissement du lombaire */
.header-widget:last-of-type{
    margin-bottom: 0;
}
 
.wp-block-group{
    box-sizing: border-box;
}

.wp-block-group__inner-container{
    box-sizing: inherit;
}

/* titre et le texte */
.block-heading{
    text-align: center;
    background-color: white;
    line-height: 130%;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 500;
    color: #2b2b2b;
    text-transform: uppercase;
    display: table;
    margin: -30 auto 15px auto;
}
.text-align{
    text-align: center;
}