/* la partie sous la NavBar */
section {
    padding-top: 40px;
    width: var(--largeurpage);
}

/* l'image avec le texte */
section .container-img-blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* le conteneur des figcaption */
section .container-img-blog .bottom-header-txt-wrap {
    position: absolute;
    text-align: center;
}

/* les trois figcaption */
section .container-img-blog .bottom-header-txt-wrap figcaption {
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

/* le deuxième */
section .container-img-blog .bottom-header-title {
    font-size: 55px !important;
    margin-top: 15px;
}

/* le dernier figcaption */
section .container-img-blog .bottom-header-below-title {
    margin-top: 15px;
}

/*-----------------------------------------------------------*/
.container-card-bottom-header {
    display: flex;
    flex-direction: row;
}

.card-bottom-header {
    max-width: 33.33%;
    margin: 20px 20px;
    padding: 20px 0;
}

.card-bottom-header:first-of-type {
    margin-left: 0;
}

.card-bottom-header:last-of-type {
    margin-right: 0;
}

fieldset {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    line-height: 150%;
}

legend {
    padding: 0 20px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

fieldset p {
    padding: 0 30px;
}


/* -------------- Main ----------------*/
main {
    width: var(--largeurpage);
}

aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    float: right;
}

.card-aside {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.card-aside span {
    border-bottom: 1px solid var(--gris);
}

.card-aside:first-of-type {
    margin-top: 0;
}

.card-aside:last-of-type {
    margin-bottom: 0;
}

.first-card-aside img:last-of-type {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.newsletter {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 50px;
}

.newsletter input {
    border: 1px solid var(--gris);
    color: var(--gris);
    height: 50px;
    padding: 14px;
}

.signup {
    border: none;
    background: black;
    color: white;
    font-weight: 600;
    width: 265px;
    padding: 15px 20px;
    margin: 0 5px;
}

.post-popular-aside {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.post-popular-aside img {
    width: 45px;
    height: 45px;
}

.text-post-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.post-popular-aside h3 {
    font-size: 12px;
    font-weight: 400;
}

.post-popular-aside p {
    font-size: 10px;
    padding: 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-card-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin: 12px 30px;
    margin-left: 0;
}

.container-card-article h4 {
    font-size: 30px;
    margin: 20px;
    font-family: var(--merry);
}

.container-card-article div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-card-article div span {
    border-bottom: 1px solid rgb(201, 201, 201);
    width: 10%;
}

.container-card-article div h5 {
    font-size: 20px;
    padding: 0 15px;
    font-weight: 500;
}

.container-card-article p {
    margin: 20px 0;
    color: rgb(110, 110, 110);
}

.container-card-article button {
    padding: 17px 20px;
    background: black;
}

.container-card-article button a {
    color: white;
    font-weight: 600;
}

.btn-article {
    margin: 20px 0;
}

.btn-article button {
    padding: 17px 20px;
    background: black;
}

.btn-article .active-article {
    background: white;
    border: 1px solid black;
}

.btn-article button a {
    color: white;
}

.btn-article .active-article a {
    color: black;
}
